<div class="container">
  <div class="row">
    <div class="col">
      <strong appHighlight>Date: {{ today | date : 'full' | uppercase }}</strong>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-5 col-lg-4">
      <app-product-form (created)="onProductCreated($event)"></app-product-form>
    </div>

    <div class="col-sm-6 col-md-7 col-lg-8">
      <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchText" name="searchText" />
      <br>
      <app-product-detail [productData]="product" *ngFor="let product of products | search : searchText : 'description'"></app-product-detail>
    </div>
  </div>
</div>
