<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Angular Animations</h1>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <app-basic-animation></app-basic-animation>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <app-advanced-transitions></app-advanced-transitions>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <app-enter-leave-state></app-enter-leave-state>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <app-multi-step-animation></app-multi-step-animation>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <app-parallel-animation></app-parallel-animation>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <app-animation-callbacks></app-animation-callbacks>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <hr>
    </div>
  </div>

</div>
